@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

* {
    --focus-color: #3083A6;
    font-family: 'Source Sans Pro';
}

html, body, .center {
    height: 99%;
}

/* Hack in a beautiful background */
body::before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url("assets/bg.png");
    background-size: cover;
    z-index:-1;
    filter: brightness(35%) grayscale(0.5);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    max-width: 375px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login,
.login * {
    box-sizing: border-box;
}

.logo-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.3);
}

.logo {
    filter: none;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    padding: 30px;
    background: #eeeeee;
    padding-bottom: 15px;
}

.header {
    margin: 0px;
    margin-bottom: 15px;
    text-align: left;
    color: #333333;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

input:focus {
    border-color: var(--focus-color);
}

input::placeholder {
    color: #4b4b4b;
}

button {
    margin-top: 10px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: var(--focus-color);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-links {
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.social-media-links {
    margin-top: 15px;
    color: #333333;
    text-align: center;
    display: block;
}

a {
    font-size: 0.9em;
    color: var(--focus-color);
    text-decoration: none;
}

span {
    font-size: 0.9em;
    color: #333333;
    text-align: left;
    display: block;
}

p {
    font-size: 0.9em;
    color: #333333;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.footnote {
    font-size: 0.8em;
    color: #636363;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer span {
    color: #686868;
    text-align: center;
}

.alertbox {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

.alerttext {
    color: white;
    font-size: 1em;
    text-align: left;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.hidden {
    display: none;
}